@{
    ViewData["Title"] = "Index";
}


	<!--/main
	<section class="row admin-section banner-bottom-agile-w3ls">

		<h3 class="tittle-w3ls text-center">Admin</h3>
		<div class="container">
			<div class="row contact_grid_right" style="padding-top: 0px;">
				<div class="col-md-12 inner-sec-w3layouts-agileits">
					<div class="col-lg-3 service-in  text-center no-space">
						<div class="card none">
							<div class="card-body">
								<div class="card-title red-bg">
									<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
									<h5 class="re-size">Categories</h5>
								</div>
								<p class="card-text font"> Click to the visit Categories page to edit the site and dynamically add content. </p>
								<div class="view my-4">
									@Html.ActionLink("Create Categories", "Create", "Categories", null, new { @class = "btn btn-primary read-m butt-red" })
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 service-in  text-center no-space">
						<div class="card none">
							<div class="card-body">
								<div class="card-title red-bg">
									<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
									<h5 class="re-size">Categories</h5>
								</div>
								<p class="card-text font"> Click to the visit Categories page to edit the site and dynamically add content. </p>
								<div class="view my-4">
									@Html.ActionLink("Create Categories", "Create", "Categories", null, new { @class = "btn btn-primary read-m butt-red" })
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 service-in  text-center no-space">
						<div class="card none">
							<div class="card-body">
								<div class="card-title red-bg">
									<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
									<h5 class="re-size">Categories</h5>
								</div>
								<p class="card-text font"> Click to the visit Categories page to edit the site and dynamically add content. </p>
								<div class="view my-4">
									@Html.ActionLink("Create Categories", "Create", "Categories", null, new { @class = "btn btn-primary read-m butt-red" })
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 service-in  text-center no-space">
						<div class="card none">
							<div class="card-body">
								<div class="card-title red-bg">
									<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
									<h5 class="re-size">Categories</h5>
								</div>
								<p class="card-text font"> Click to the visit Categories page to edit the site and dynamically add content. </p>
								<div class="view my-4">
									@Html.ActionLink("Create Categories", "Create", "Categories", null, new { @class = "btn btn-primary read-m butt-red" })
								</div>
							</div>
						</div>
					</div>




				</div>
			</div>
		</div>
	</section>-->
<section class="admin-section short-pages banner-bottom-agile-w3ls col-md-12 no-padding">
	<div class="col-md-3 width-80">
		<div class="card-body">
			<div class="card-title red-bg">
				<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
				<h5 class="re-size">Categories</h5>
			</div>
			<p class="card-text font"> Click to the visit Categories page to edit the site and dynamically add category. </p>
			<div class="view my-4">
				@Html.ActionLink("Create Categories", "Create", "Categories", null, new { @class = "btn btn-primary read-m butt-red" })
			</div>
		</div>
	</div>
	<div class="col-md-3 width-80">
		<div class="card-body">
			<div class="card-title red-bg">
				<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
				<h5 class="re-size">Contents</h5>
			</div>
			<p class="card-text font"> Click to the visit content page to edit the site and dynamically add content. </p>
			<div class="view my-4">
				@Html.ActionLink("Create Contents", "Create", "Contents", null, new { @class = "btn btn-primary read-m butt-red" })
			</div>
		</div>
	</div>
	<div class="col-md-3 width-80">
		<div class="card-body">
			<div class="card-title red-bg">
				<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
				<h5 class="re-size">Advertisements</h5>
			</div>
			<p class="card-text font"> Click to the visit adverts page to edit the site and dynamically add adverts. </p>
			<div class="view my-4">
				@Html.ActionLink("Create Adverts", "Create", "Advertisements", null, new { @class = "btn btn-primary read-m butt-red" })
			</div>
		</div>
	</div>
	<div class="col-md-3 width-80">
		<div class="card-body">
			<div class="card-title red-bg">
				<i class="fa fa-list-alt never" aria-hidden="true" style="float: none;"></i>
				<h5 class="re-size">Comments</h5>
			</div>
			<p class="card-text font"> Click to the visit comments page to edit the site and dynamically add comment. </p>
			<div class="view my-4">
				@Html.ActionLink("Edit Comments", "Create", "Comments", null, new { @class = "btn btn-primary read-m butt-red" })
			</div>
		</div>
	</div>
</section>
